#search-box{
    margin: 10px 0px 25px 0px;
}

.file-folder{
    padding: 1rem 5rem;
}

.back{
    color:rgb(128, 0, 21);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
}


table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}